html{
    scroll-behavior: smooth;
}
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family: 'Mulish', sans-serif;
}
.light-mode{
    background-color: #fbfafd;
    color:#000;
}

.nav_style{
    background:#ff7675;
    a{
        color:#fff;
    }
    a:hover{
        color: #a29;
    }
}
.main_header{
    height: 450px;
    width: 100%;
    .rightside{
        font-size: 3rem;
        .coronaAnimation{
            
            animation: coronago 3s linear infinite; 
            @keyframes coronago{
                0%{transform: rotate(0);}
                100%{transform: rotate(360deg);}
                
            }
            img{
                width: 70px;
                height: 70px;
                object-fit: cover;
                }
        }
       
        
    }
}
.corona_update{
    margin: 0 0 30px 0;
    h3{
        color: #ff7675;
    }
    h1{
        font-size: 2rem;
        text-align: center;
    }
}
.about{
    background: #fbfafd;
}

.footer_style{
    background: #ff7675;
    p{
        margin-bottom: 0;
    }
}

//responsive

// @media(max-width:768px){
//     .about{
//         background: #fbfafd;
//         .pic{
//             margin-left: 0;
//         }
//     }
    
// }